<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
		<textarea rows="4" cols="100" ng-model="blogCtrl.blog.title">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>

		<textarea rows="30" cols="100" ng-model="blogCtrl.blog.description">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>
		<div class="row">
			<a href="" class="btn btn-primary"
				ng-click="blogCtrl.createtheBlog()">Post</a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="click">
			<h1>
				<b>other links</b>
			</h1>
		</div>
		<li><a href="#" class="btn btn-success"><button type="button"
					class="btn btn-success">See my blog</button></a><br> <br></li>
		<li><a href="" class="btn btn-info"
			ng-click="blogCtrl.createlistOfBlog()"><button type="button"
					class="btn btn-primary">List Of Blogs</button></a><br> <br></li>
		<li><a href="#" class="btn btn-warning"><button type="button"
					class="btn btn-warning">manage request</button></a></li>
	</div>

</div>





